button{
    width: 70px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;

}
input{
    width: 300px;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-right: 10px;
}
h1{
    text-align: center;
}
div{
    text-align: center;
    margin-top: 50px;
}
body{
    background-color: #f0f0f0;
}
button:hover{
    background-color: #d3d3d3;
}
button:active{
    background-color: #ce4242;
}

