.heading,footer{
    margin: 5px;
    background-color: blue;
    padding: 5px;
    color: aliceblue;
    text-align: center;
}
#name{
    font-size: 26px;
    color: rgb(73, 78, 76);
    margin: 10px -2px ;
}