body {
  background-image: url("../../image/WhatsApp\ Image\ 2025-11-02\ at\ 20.50.46_2131f11e.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.container {
  position: relative;
  min-height: 100vh;
  background-image: url("../../image/WhatsApp\ Image\ 2025-11-02\ at\ 20.50.46_2131f11e.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35); /* dark overlay */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: -1;
}


.card-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  padding: 40px;
}


.hall-card {
  width: 460px;
  background: #1e1e2f;
  color: white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


.hall-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}


.hall-card h3 {
  margin: 10px;
  font-size: 20px;
}

.hall-card p {
  margin: 0 10px 15px;
  opacity: 0.8;
}


.hall-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.head-form{
    display: flex;
    justify-content: center;
}

.booking-form {
  margin-top: 30px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 320px;
  
 
}

.booking-form input {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

.booking-form button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border-radius: 10px;
  border: 2px solid;
}



.table-box {
  margin-top: 40px;
}

table {
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  color: #0e2450;
}

th, td {
  padding: 12px;
  text-align: center;
}

.status {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 14px;
}

.status.pending {
  background: #fde68a;
}

.status.approved {
  background: #86efac;
}
